body {
  background: black;
}

#formSearch {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}

#formSearch:focus {
  color: white;
}

.custom-btn {
  background: transparent;
  position: absolute;
  right: 2%;
}

.fa-search {
  color: orange;
}

.image-location {
  font-style: italic;
}
